form{
    border: 3px solid #f1f1f1;
    
}

input[type=email], input[type=password], input[type=text], input[type=date]{

width: 100%;
padding: 12px 20px;
margin: 8px 0;
display: inline-block;
border: 1px solid #ccc;
box-sizing: border-box;

}

.button {
    background-color: #6cbda7;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    /* cursor: pointer; */
    border-radius: 10px;
    align-items: center;
    text-align: center;
    
    /* width: 100%; */
}

.button:hover{
    background-color: #146416
    /* opacity: 0.9px; */
}
.container{
    padding: 16px;
    /* float: left; */
    /* width: 65%; */
    
    
}

body, html {   
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display:table;
}
body {
    display:table-cell;
    vertical-align:baseline;
}
form {
    display:table;/* shrinks to fit content */
    margin:auto;
}

.center {
    text-align: center;
}


h1 {
    color:#0b2e0c;
}
